input.ng-invalid.ng-touched,
form.ng-submitted input.ng-invalid{
    border: 2px solid red;
    background-color: yellow;
}

form {
    margin: 2em;
    margin-bottom: 3em;
}
.field {
    margin-bottom: 1.2em;
}

.formRow {
    margin-bottom: 1em;
}

.error {
    color: #b94a48;
}

