<div id="body" ng-app="ecransBNP" ng-controller="ecran1_BNP_Controller as ecran1Ctrl"
     xmlns:filter="http://www.w3.org/1999/xhtml" xmlns:>

    <div id="hr_header">
        <hr>
    </div>

    <!-- ajout de la page ecran1-->
    <div>
        <table style="width:90%" align="center">
            <tr>
                <!--<td id="countryList">-->
                    <!--<label>Liste de pays</label>-->
                <!--</td>-->
                <td>
                    <md-button type="button" class="btn btn-default">
                        <label>Nombre de pays= {{ecran1Ctrl.nomberCountry()}}</label>
                    </md-button>
                </td>

                <td><label></label></td>

                <!--<td align="right">-->
                    <!--<form class="search-in-line">-->
                        <!--<div class="search" class="btn-group">-->
                            <!--<input type="text" ng-model="search"  class="form-control"  name="search" placeholder="search" size="10">-->
                            <!--<span class="glyphicon glyphicon-search"></span>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</td>-->

                <td align="right">
                    <div class="input-group">
                        <input type="text" ng-model="search" class="form-control" placeholder="search" size="10" >
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </td>

            </tr>
        </table>

        <div>
            <h1>Liste de pays</h1>
        </div>

        <div class="table-responsive">
            <table class="table" ng-model="elementCountry" style="width:80%" align="center">
                <div >
                    <table ng-table="demo.defaultConfigTableParams" class="table table-condensed table-bordered table-striped" show-filter="true">

                        <thead>
                            <tr>
                                <th ng-click="sort('name')">
                                    <!--<a href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">-->
                                        Name of Country
                                    <span class="glyphicon glyphicon-triangle-top" ng-show="sortKey=='name'" ng-class="{'glyphicon glyphicon-triangle-bottom' : reverse, 'glyphicon glyphicon-triangle-top' : !reverse}"></span>
                                        <!--<span ng-show="orderByField == 'lastName'">-->
                                            <!--<span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span>-->
                                            <!--<span ng-show="reverseSort"> <span class="glyphicon glyphicon-triangle-top"></span></span>-->
                                        <!--</span>-->
                                    <!--</a>-->
                                </th>

                                <th>
                                    <a href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
                                        All
                                        <span ng-show="orderByField == 'lastName'">
                                            <span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span>
                                            <span ng-show="reverseSort"> <span class="glyphicon glyphicon-triangle-top"></span></span>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
                                        None
                                        <span ng-show="orderByField == 'lastName'">
                                            <span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span>
                                            <span ng-show="reverseSort"> <span class="glyphicon glyphicon-triangle-top"></span></span>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
                                        Custom
                                        <span ng-show="orderByField == 'lastName'">
                                            <span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span>
                                            <span ng-show="reverseSort"> <span class="glyphicon glyphicon-triangle-top"></span></span>
                                        </span>
                                    </a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr dir-paginate="elementCountry in ecran1Ctrl.countrys
                                         |filter:search | orderBy:sortKey:reverse |itemsPerPage : 5 ">
                                <th title="'Name'">{{elementCountry.name}}</th>
                                <td title="'all'">
                                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </td>
                                <td title="'none'">
                                    <md-button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>
                                    </md-button>
                                </td>
                                <td title="custom">
                                    <button type="button" class="btn btn-default">
                                        <span ng-click="">
                                            <span ng-show="!reverseSort"><span class="glyphicon glyphicon-plus"></span></span>
                                            <span ng-show="reverseSort"> <span class="glyphicon glyphicon-ok"></span></span>
                                        </span>
                                    </button>
                                </td>
                                <td title="'Name'">{{elementCountry.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </table>


            <table style="width:90%" align="center">
                <tr>
                    <td class="btn-group">
                        <button type="button" class="btn btn-primary">Download</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </button>
                    </td>

                    <td>
                        <label></label>
                    </td>
                    <td>
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                        </dir-pagination-controls>
                    </td>

                </tr>
            </table>
            <!--<div class="col-md-6" >-->
                <table ng-table="ecran1Ctrl.tableParams" class="table" show-filter="true">
                    <tr dir-paginate="country in ecran1Ctrl.countrys | itemsPerPage: 5">
                        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                            {{country.name}}</td>

                        <td title="'All'" filter="{ all: 'text'}" sortable="'all'">
                            {{country.all}}</td>
                    </tr>
                </table>
            <!--</div>-->
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</div>
